html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    background: url("../img/big-prairie.jpg") bottom no-repeat #e6b950;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

.flex-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}
h1 {
    font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.125em;
}
h4 {
    font-size: 0.75em;
}

p {
    color: #333;
    font-size: 0.875em;
    line-height: 1.3125em;
    padding: 0 1.875em;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	flex-grow: 1;
}

header h1 {
    color: #fff;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 10px #333;
    border-bottom: 3px solid rgb(34, 10, 0, 0.4);
    padding-bottom: 0.75em;
    margin: 0;
}

header nav {
    margin-top: -2em;
    width: 100%;
}
header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
header nav ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875em;
    padding: 0.875em 0;
}
header nav ul li a {
    text-decoration: none;
    text-shadow: 2px 2px 10px #333;
    color: #fff;
}

.tagline {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
}
.tagline h1 {
    color: #fff;
    font-size: 2em;
    text-shadow: 4px 4px 12px #333;
    margin: 0;
    padding-bottom: 0.25em;
    width: 80%;
    overflow-wrap: break-word;
}
.tagline h2 {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-shadow: 4px 4px 12px #333;
    margin: 0;
    width: 80%;
}

.transition-1 {
    height: 10px;
    width: 100%;
    background-image: linear-gradient(#220a00, #bdc4a7);
}

.about-section {
    background-color: #bdc4a7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-content {
    width: 90%;
}
.about-content img {
    border: 3px solid #aaa;
    border-radius: 0.5em;
    width: 100%;
}
.about-content p {
    padding: 0;
    width: 100%;
}
.about-content h4 {
    font-size: 0.875em;
    text-transform: none;
}

.transition-2 {
    height: 20px;
    width: 100%;
    background-image: linear-gradient(#bdc4a7, #93827f);
}

.portfolio-section {
    background-color: #93827f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}
.project-title {

}
.project-description {
    text-align: center;
}
.project-story {

}
.portfolio-section h3 {
    text-align: center;
    width: 90%;
}

.transition-3 {
    height: 20px;
    width: 100%;
    background-image: linear-gradient(#93827f, #ffefd3);
}

footer {
    background-color: #ffefd3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer-content h2 {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    text-align: center;
    width: 100%;
}







/* -- Tablets larger than 768px wide -- */
@media all and (min-width:768px) {
    .about-content {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .about-content img {
        width: 50%;
    }
    .about-content p {
        width: 50%;
    }

}
